@import url('https://fonts.cdnfonts.com/css/gilam?styles=63130,63138,63128');
@import url('https://fonts.cdnfonts.com/css/circe?styles=15451');

* {
    font-family: "Gilam";
    color: white;
    margin: 0;
    padding: 0;
}

body {
    background-color: #171717;
}

header {
    margin: auto;
    width: 1460px;
}

main {
    width: 1460px;
    margin: auto;
}


a {
    text-decoration: none;
}

.wrapper-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
    margin-top: 37px;
}

.title {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 41px;
}

.image-logo {
    width: 216px;
    height: 33px;
    padding-top: 9px;
}

.button {
    display: flex;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.image-vector {
    width: 13px;
    height: 13px;
    padding-left: 10px;
}

.image-text {
    font-family: 'Circe';
    display: flex;
    color: #E4B564;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    height: 49px;
    width: 180px;
}

.button:hover {
    background-color: #E4B564FF;
    transition: 0.3s;
}

.image-text:hover {
    color: white;
    transform: translateX(-5%);
    transition: 0.3s;
}


.subtitle-header {
    font-size: 20px;
    height: 56px;
    font-weight: 700;
    padding-bottom: 41px;
}

.grid-container-header {
    display: grid;
    grid-gap: 29px;
    grid-template-columns: repeat(6, 219px);
    grid-template-rows: repeat(2, 468px);
    grid-template-areas:
    "a a b b c c"
    "d d d e e e";
}

.grid-item-header {
    display: grid;
    font-size: 21px;
    font-weight: 700;
    place-content: center;
}

main {
    margin-top: 161px;
    margin-bottom: 94px;
}

.item-1 {
    grid-area: a;
    background-color: #634F2C;
}

.item-2 {
    grid-area: b;
    background-color: #B4A385;
    text-align: center;
    padding: 0 44px;
}

.item-3 {
    grid-area: c;
    background-color: #E4B564;
}

.item-4 {
    grid-area: d;
    background-color: #635A4A;
}

.item-5 {
    grid-area: e;
    background-color: #B08C4D;
}

.grid-container-main {
    display: grid;
    margin-bottom: 191px;
    grid-gap: 26px;
    grid-template-columns: repeat(3, 469px);
    grid-template-rows: repeat(7, 115px);
    grid-template-areas:
"a-1 c-1 e-1"
"a-1 c-1 e-1"
"a-1 c-1 f"
"b-1 c-1 f"
"b-1 d-1 f"
"b-1 d-1 g"
"b-1 d-1 g";
}

.grid-container-main > div {
    font-weight: 500;
}

.bold-text {
    font-weight: 700;
}

.item-6 {
    grid-area: a-1;
    background-color: #0E0E0E;
    padding-top: 44px;
    padding-left: 52px;
}

.item-7 {
    grid-area: b-1;
    background-color: #1F1F1F;
    padding-top: 56px;
    padding-left: 52px;
}

.item-8 {
    grid-area: c-1;
    background-color: #242424;
    padding-top: 44px;
    padding-left: 51px;
}

.item-9 {
    grid-area: d-1;
    color: black;
    background-color: #E4B564;
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 47px;
    padding-left: 52px;
}

.item-10 {
    grid-area: e-1;
    background-color: #1F1F1F;
    padding-top: 44px;
    padding-left: 48px;
}

.item-11 {
    grid-area: f;
    background-color: #0E0E0E;
    padding-top: 44px;
    padding-left: 48px;
}

.item-12 {
    grid-area: g;
    background-color: #0A0909;
    padding-top: 44px;
    padding-left: 48px;
}

footer {
    background-color: #0E0E0E;
    padding-top: 192px;
    margin-bottom: 239px;
}

.max-width {
    max-width: 1460px;
    margin: auto;
}

.wrapper-footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.wrapper-footer > a {
    color: #E4B564;
    font-family: 'Circe';
    font-size: 18px;
}

.wrapper-footer > a:hover {
    color: white;
}

.grid-container-footer {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
}

.footer-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-text {
    opacity: 0;
    font-size: 22px;
    transition: 0.3s;
    text-align: center;
}

.footer-item > a {
    display: flex;
    justify-content: center;
    margin: 25px;
    transition: 0.3s;
}

.footer-item:hover > a {
    transform: translateY(-65px);
    transition: 0.3s;
}

.footer-item:hover > .footer-text {
    display: block;
    opacity: 1;
    transform: translateY(-45px);
    transition: 0.3s;
}

.item-13 {
    background-color: #634F2C;
}

.item-14 {
    background-color: #E8D2ABC2;
}


.item-15 {
    background-color: #E4B564;
}

.item-16 {
    background-color: #635A4A;
}

.item-17 {
    background-color: #B08C4D;
}

.item-18 {
    background-color: #634F2C;
}


